
	<nav class="navbar navbar-dark bg-dark">
	<a routerLink="/" class="navbar-brand"> <h2>ImageUploader</h2> </a>
	<ul class="nav nav-pills justify-content-end" *ngIf="isUserLoggedIn | async">
		<li class="nav-item" >
			<button class="btn btn-outline-primary nav-btn bg-light mr-2 text-primary"
			(click)="goToUserAccountPage()"
			>
			<fa-icon [icon]="faUserCircle"></fa-icon>
			{{username | async}}</button>
		</li>
		<li class="nav-item">
			<button class="btn btn-outline-success navbar-btn" 
			
				*ngIf="true" (click)="logout()" role="button" >Logout</button>
		</li>
	</ul>
	
	</nav>
	<scroll-top [hidden]="!scrolledFromTopBool"></scroll-top>
	<router-outlet></router-outlet>

