<div class="card-wrapper">
	<div class="card border border-info m-2">
		<h4 class="card-header">{{image.description}} 
			<fa-icon [icon]="faLock"  class="float-right" [hidden]="image.isPublic"></fa-icon>
		</h4>
		<div class="card-body">
			<div class="image-wrapper">
				<img src="{{image.links[0].href}}" alt="no image" *ngIf="secure===false"/>
				<img [attr.src]="image.links[0].href | secure | async" alt="no image" *ngIf="secure===true"/>
			</div>
		</div>
		<div class="card-footer text-muted">
			<span>by {{image.username}}</span>
			<span class="float-right" >on {{image.timestamp | date :'short'}}</span> 
		</div>
	</div>